*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
#change-color{
    margin: 200px auto;
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: none; */
    background-color: rgb(245, 244, 244);
    box-shadow: 6px 6px 16px 0 rgb(98, 98, 98);
}
.text{
    width: 200px;
    height: 40px;
    color: #fff;
    background-color: rgb(51, 51, 51);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}